<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-9" id="div home">
    <h1 class="title" jhiTranslate="home.title">Welcome next level experience</h1>

    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>
      <div class="alerta" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="register" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let influenciador of influenciadors" data-cy="entityTable" class="tbodyInf">
  <figure class="card-green">
    <div class="img-box"><img src="u../../content/images/influ-image.png" /></div>

    <figcaption class="desc degradeGreen">
      <h4>
        {{ influenciador.nome }} <br /><span>{{ influenciador.redes }}</span>
      </h4>
      <p>{{ influenciador.bio }}</p>
    </figcaption>
  </figure>
</div>

<div *ngFor="let empresa of empresas" data-cy="entityTable" class="tbodyInf">
  <figure class="card-green">
    <div class="img-box"><img src="../../content/images/empr-image.png" /></div>

    <figcaption class="desc degradeempresa">
      <h4>
        {{ empresa.nome }} <br /><span>{{ empresa.regiao }}</span>
      </h4>
      <p>{{ empresa.site }}</p>
    </figcaption>
  </figure>
</div>
