<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-9" id="div home">
    <h1 class="title" jhiTranslate="home.title">Welcome next level experience</h1>

    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>
      <div class="alerta" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="register" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
    </div>
  </div>
</div>

<tbody>
  <h3>Empresas</h3>
  <div class="empresas">
    <tr *ngFor="let empresa of empresas" data-cy="entityTable">
      <td>
        <div class="empresa">
          <h3>{{ empresa.nome }}</h3>
          <section class="grid">
            <div class="item">{{ empresa.regiao }}</div>
            <div class="item">{{ empresa.id }}</div>
            <div class="item">{{ empresa.nicho }}</div>
            <div class="item">{{ empresa.site }}</div>
            <button type="submit" [routerLink]="['/empresa', empresa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
          </section>
        </div>
      </td>
    </tr>
  </div>
</tbody>
